.for_margin {
  width: 100%;
  height: 70px;
}

.jobs-container {
  padding: 40px 10px;
  max-width: 1100px;
  margin: 0 auto;
}

.jobs-group {
  margin-bottom: 40px;
  padding-bottom: 8px;
}

.hs {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  cursor: grab;
  padding: 20px;
}

.hs:active {
  cursor: grabbing;
}

/* hide scrollbar */
.hs::-webkit-scrollbar {
  display: none;
}

.hs {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hs-item {
  flex: 0 0 260px;
  min-height: 180px;
  user-select: none;
  background-color: #ade9fc;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  padding: 20px;
}

/* arrows */
.arrow-btn {
  border: none;
  background: #fff;
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
}

.jobs-title {
  font-size: 32px;
  font-weight: 700;
  color: #0F2854;
}

.apply-btn {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 8px 12px;
  border-radius: 16px;
  background: linear-gradient(90deg, #000000, #2b2b2b8a);
  color: #fff;
  border: none;
  cursor: pointer;
}

.apply-btn:hover {
  opacity: 0.75
}

.job-role {
  margin: 0 0 6px 0;
  font-weight: 600;
  color: #000;
}

.job-salary,
.job-location {
  margin: 0 0 8px 0;
  color: #424242;
}

/* HS wrapper to position caret buttons */
.hs-wrapper {
  position: relative;
}

.caret-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 5;
}

.hs-prev {
  left: -60px;
}

.hs-next {
  right: -60px;
}

.caret-btn i {
  font-size: 18px;
  color: #0f0f0f;
}

@media (max-width: 768px) {
  .caret-btn {
    display: none;
  }
}

/* responsive */
@media (max-width: 768px) {
  .hs-item {
    /* flex: 0 0 85%; */
  }
}