.navbar {
  position: fixed;
  top: 0px;
  /* padding: 0; */
  z-index: 1030;

  .container {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background: linear-gradient(135deg,
        #0f0f0f 0%,
        #2b2b2b9f 50%,
        #161616 100%);

    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.9);

    img {
      height: 40px;
    }

    a {
      color: whitesmoke;
      font-weight: 500;
      transition: transform 0.25s ease, color 0.25s ease;
    }

    a:hover {
      color: #E9762B;
      transform: scale(1.08);
    }

    .nav-contact {
      background-color: whitesmoke;
      border-radius: 50px;
      color: #0f181e;
      padding: 10px;
      margin-left: 30px;
    }
  }
}

/* Mobile & Tablet View */
@media (max-width: 991px) {
  .mobile-center-menu {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border-radius: 12px;
    padding: 16px;
    background: linear-gradient(135deg,
        #0f0f0f 0%,
        #2b2b2b 50%,
        #3a3a3a 100%);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    text-align: center;
    z-index: 1050;
  }

  .mobile-center-menu .navbar-nav {
    flex-direction: column;
    gap: px;
  }
}

.nav-link.active {
  border-bottom: 2px solid #fff;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}